body {
  background: #FFF0F5;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #FF69B4;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #C71585;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

i {
  padding: 1px;
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  margin-bottom: 20px;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.article-title {
  color: #444444;
}

.article-title:hover {
  color: #FF69B4;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #FF69B4;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.anchor {
  margin-right: ($spacer * .5) !important;
  color: #FF69B4
}